{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block about_section %}
  <!-- about section -->

  <section class="about_section ">
    <div class="container-fluid">
      <div class="row">
        <div class="img-box col-lg-8 col-md-7">
          <img src="{% static 'images/about-img.jpg' %}" alt="" />
        </div>
        <div class="detail-box detail_box_common col-lg-4 col-md-5 text_center">
          <div class="heading_container heading_center">
            <h2>
              About Us
            </h2>
          </div>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using LoremIt is a long established fact that a reader will be
            distracted by the readable content of a page when looking at its layout. The point of using Lorem
          </p>
         
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
  {% endblock about_section %}

  {% block footer %}
   <!-- footer section -->
 <footer class="footer_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved. Design
          by
          <a href="https://html.design/">Free Html Templates</a>
        </p>
      </div>
      <div class="col-xl-6">
        <div class="link_box">
          <a class="" href="/">
            Home
          </a>
          <a class="" href="/about">
            About
          </a>
          
         
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer section -->

  {% endblock footer %}