{% extends 'base2.html' %}
{% block title %}login{% endblock title %}

{% block main_content %}
  <div class="container">
    <div class="row justify-content-center mt-5 mb-5">
      <div class="col-md-6">
        <form>
        
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">Email address</label>
          </div>
        
          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" />
            <label class="form-label" for="form2Example2">Password</label>
          </div>
        
          <!-- Submit button -->
          <button type="button" class="btn btn-dark btn-block mb-4">login</button>

          <!-- Login link -->
          <div class="text-center">
            <p>Already a member? <a href="/signup">signup</a></p>
          </div>

          
        </form>
      </div>
    </div>
  </div>
{% endblock main_content %}
